#root{
    width: 800px;
    height: 800px;
    border-radius: 24px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #fff;
    overflow: hidden;
    margin: 20px auto;
    #play{
        position: relative;
        #gameWrapper{
            position: absolute;
            top: 0;
            #resultInformation{
                display: flex;
                justify-content: space-between;
                margin: 20px 30px 0;
                align-items: center;
                font-size: 25px;
                #gameLives{
                    display: flex;
                    width: 55px;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        width: 30px;
                    }
                }
            }
            #gameField{
                width: 800px;
                height: 720px;
                display: flex;
                flex-wrap: wrap;
                div{
                    width: 5%;
                    height: 3.2%;
                }
                .invader{
                    background: url("../assets/spaceInvadersSprite.png") 0 -8px no-repeat;
                    background-size: 78px;
                    animation: invadersAnimate 1s steps(2) infinite;
                }
                .shooter{
                    background: url("../assets/shooter.png") no-repeat center;
                    background-size: cover;
                }
                .explosion{
                    background: url("../assets/explosion.png") no-repeat center;
                    background-size: contain;
                }
                .laser{
                    background-color: #f9b104;
                    width: 4px;
                    margin: 0 auto;
                }
                .invaderLaser{
                    background: url("../assets/invaderLaser.png") no-repeat center;
                    background-size: contain;
                }
            }
        }

    }

    #mainMenu{
        background: url(../assets/mainMenu.png) no-repeat;
        background-size: cover;
        height: 100%;
        img{
            margin: 280px 0 0 3px;
        }
        .buttonBlock{
            margin-top: 186px;
        }
    }

    #userScore{
        background: url(../assets/bestResult.png) no-repeat;
        background-size: cover;
        height: 100%;
        p{
            display: inline-block;
            font-size: 61px;
            margin: 475px 0 0;
        }
        .buttonBlock{
            justify-content: space-between;
            width: 43%;
            margin: 120px auto 0;
        }
    }

    #gameHelp{
        background: url(../assets/gameHelp.png) no-repeat;
        background-size: cover;
        height: 100%;
        >div:first-child{
            p:first-child{
                display: inline-block;
                width: 80%;
                margin-top: 91px;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                line-height: 30px;
                color: #f9b104;
            }
            p:nth-child(2){
                font-size: 60px;
            }
            p:nth-child(3), p:nth-child(3) ~ p, pre{
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                text-align: left;
                width: 70%;
                margin: 10px 0 0 200px;
            }
            span{
                font-size: 31px;
                font-family: 'Righteous', cursive;
                color: #f9b104;
            }
        }
        .buttonBlock{
            justify-content: space-between;
            width: 43%;
            margin: 103px auto 0;
        }
    }

    #gameEnd{
        background: url(../assets/gameOver.png) no-repeat;
        background-size: cover;
        height: 100%;
        p{
            font-size: 60px;
            display: inline-block;
            margin: 475px 0 0;
        }
        .buttonBlock{
            justify-content: space-between;
            width: 43%;
            margin: 121px auto 0;
        }
    }

    .buttonBlock{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        .button{
            border: 2px solid #f9b104;
            line-height: 2;
            font-size: 27px;
            border-radius: 30px;
            width: 150px;
            height: 54px;
            transition: 500ms;
            cursor: pointer;
            &:hover{
                color: #f9b104;
            }
            a{
                text-decoration: none;
                display: block;
                color: #fff;
                transition: 500ms;
                &:hover{
                    color: #f9b104;
                }
            }
        }
    }
}

@keyframes invadersAnimate {
    100% {
        background-position: -78px -8px;
    }
}